include LICENSE.MIT
include MANIFEST.in
include README.*
include setup.*
include *.ini
include *.txt
recursive-include rules *.py
# for f in tests/**/*.* ; do echo ${f/*\./*.}; done | sort | uniq
recursive-include tests *.py *.txt *.yml
